In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [10]:
lf = pd.read_csv('../data/listings_final.csv', sep=";"); lf.head()

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90

In [9]:
pa = pd.read_csv('../data/price_availability.csv', sep=";"); pa.head()

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2

In [12]:
# creer nouvelle column sur lf
# boucler sur listing_id, attribuer la moyenne du group_by(pa.listing_id)

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,...,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,day,created,available,local_currency,local_price,min_nights
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,...,False,False,1.0,1.0,2018-10-28,2018-09-27 10:40:22.000+0000,False,EUR,47,1
1,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,...,False,False,1.0,1.0,2018-10-28,2018-09-27 06:06:07.000+0000,False,EUR,47,1
2,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,...,False,False,1.0,1.0,2018-10-28,2018-09-26 19:31:53.000+0000,False,EUR,47,1
3,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,...,False,False,1.0,1.0,2018-09-01,2018-09-27 10:40:22.000+0000,True,EUR,47,1
4,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,...,False,False,1.0,1.0,2018-09-01,2018-09-27 06:06:07.000+0000,True,EUR,47,1